.root {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff4e2 !important;
  padding: 0 35px 0 10px;
  height: 60px;
  margin-bottom: 14px;
  width: 100%;
  z-index: 1;
}


.logo {
  width: 31px;
  height: 34px;
  margin: 0 20px 0 10px;
}

.penButton {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
}

.searchBlock {
  position: relative;
  margin-right: 13px;
  width: 310px;

  :global {
    svg {
      position: absolute;
      top: 7px;
      left: 11px;
      opacity: 0.4;
    }

    input {
      width: 100%;
      height: 38px;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      font-size: 16px;
      padding-left: 40px;
      transition: all 0.2s ease-in-out;
      border: 1px solid transparent;
      
      &:hover, &:focus {
        background-color: #fff;
        border-color: darken(#fff4e2, 15%);
        box-shadow: 0 0 03px rgb(229 160 64 / 12%);
      }
    }
  }
}